# Browder and API Configuration
BASE_URL=https://www.automationexercise.com
API_BASE_URL=https://www.automationexercise.com/api

# Browser Configuration
HEADLESS=true
RECORD_VIDEO=false
RECORD_HAR=false

# Logging
DEBUG=false
